<app-mis-header></app-mis-header>
<div class="app-body">
  <app-mis-sidebar></app-mis-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" routerLink="/dashboard"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
    </ol>
    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                  <a class="btn btn-primary fa fa-plus" routerLink="#"> ADD New Photo</a>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header">
                         
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-12" style="margin-top: 20px;">
                           
                                <img class="img-thumbnail img-responsive img-fluid" alt="Employee"  src="./assets/img/u1.jpg" style="height: 250px; width: 250px;">
                                <input type="text" class="" style="text-align: center; width: 250px; " value="User One"/>
                           
                      </div>
                  </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header">
        
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-12" style="margin-top: 20px;">
                           
                                <img class="img-thumbnail img-responsive img-fluid" alt="Employee"  src="./assets/img/u4.jpg" style="width: 250px; height: 250px;">
                                <input type="text" class="" style="text-align: center; width: 250px; " value="User One"/>
                            
                      </div>
                     </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header">
        
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-12" style="margin-top: 20px;">
                            
                                <img class="img-thumbnail img-responsive img-fluid" alt="Employee"  src="./assets/img/u5.jpg" style="width: 250px; height: 250px;">
                                <input type="text" class="" style="text-align: center; width: 250px; " value="User One"/>
                      </div>
                  </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header">
                         
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-12" style="margin-top: 20px;">
                           
                                <img class="img-thumbnail img-responsive img-fluid" alt="Employee"  src="./assets/img/u6.jpg" style="height: 250px; width: 250px;">
                                <input type="text" class="" style="text-align: center; width: 250px; " value="User One"/>
                      </div>
                  </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header">
        
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-12" style="margin-top: 20px;">
                           
                                <img class="img-thumbnail img-responsive img-fluid" alt="Employee"  src="./assets/img/u2.jpg" style="width: 250px; height: 250px;">
                                <input type="text" class="" style="text-align: center; width: 250px; " value="User One"/>
                            
                      </div>
                     </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header">
        
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-12" style="margin-top: 20px;">
                            
                                <img class="img-thumbnail img-responsive img-fluid" alt="Employee"  src="./assets/img/u3.jpg" style="width: 250px; height: 250px;">
                                <input type="text" class="" style="text-align: center; width: 250px; " value="User One"/>
                      </div>
                  </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header">
                         
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-12" style="margin-top: 20px;">
                           
                                <img class="img-thumbnail img-responsive img-fluid" alt="Employee"  src="./assets/img/u4.jpg" style="height: 250px; width: 250px;">
                                <input type="text" class="" style="text-align: center; width: 250px; " value="User One"/>
                           
                      </div>
                  </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header">
        
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-12" style="margin-top: 20px;">
                           
                                <img class="img-thumbnail img-responsive img-fluid" alt="Employee"  src="./assets/img/u5.jpg" style="width: 250px; height: 250px;">
                                <input type="text" class="" style="text-align: center; width: 250px; " value="User One"/>
                            
                      </div>
                     </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header">
        
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-12" style="margin-top: 20px;">
                            
                                <img class="img-thumbnail img-responsive img-fluid" alt="Employee"  src="./assets/img/u6.jpg" style="width: 250px; height: 250px;">
                                <input type="text" class="" style="text-align: center; width: 250px; " value="User One"/>
                      </div>
                  </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        
      </div>
      
    </div><!-- /.container-fluid -->
  </main>
  <app-mis-right-sidebar></app-mis-right-sidebar>
</div>
<app-mis-footer></app-mis-footer>


